<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.enough_mail_app">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
     <application android:allowBackup="false" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <full-backup-content>
        <exclude domain="sharedpref" path="FlutterSecureStorage"/>
    </full-backup-content>
</manifest>
